<html class="main">
<div style="text-align: right;">
    <h1 class="catHeader, header" style="text-align: center;"><span style="text-decoration: underline;">Current Week</span></h1>
    </div>
    <div style="text-align: center;">
        <img class="img, img_class" src='././assets/images/monday.jpg'>
    <h2 class="catHeader subCatHeader">Monday</h2>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l103 l108 l113 l407">
    <div class="productName"><strong>Soup</strong>&nbsp;</div>
    <div class="productDetailRow">
    <div class="productDescription">Curried Chickpea&nbsp;</div>
    <div class="productDescription">Potato Soup</div>
    <div class="productDescription">&nbsp;</div>
    <div class="productDescription">$2.09&nbsp; Each
    <p>&nbsp;</p>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l108 l117 l122 l329 l330 l331 l407">
    <div class="productName"><strong>Salad</strong></div>
    <div class="productDetailRow">
    <div class="productDescription">
    <div>Chicken Caesar Salad</div>
    <div>&nbsp;</div>
    <div>$5.00 Each</div>
    </div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l108 l407">
    <div class="productName"><strong>Be Well</strong></div>
    <div class="productDetailRow">
    <div class="productDescription"><span style="font-size: small;">Chicken Risotto served with Broccoli Rabe</span></div>
    <div class="productDescription">&nbsp;</div>
    <div class="productDescription">$5.00 Per Person</div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l103 l104 l105 l106 l107 l108 l109 l110 l111 l112 l113 l114 l115 l116 l117 l118 l119 l120 l121 l122 l407">
    <div class="productName"><strong>Indian to go</strong></div>
    <div class="productDetailRow">
    <div class="productDescription"><span style="font-size: small;">Chicken Curry, </span><span style="font-size: small;">Basmati Rice, </span><span style="font-size: small;">Lentil</span></div>
    <div class="productDescription">&nbsp;</div>
    <div class="productDescription">$5.00 Per Person</div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <h2 class="catHeader subCatHeader">Tuesday</h2>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l104 l109 l114 l119 l407">
    <div class="productName"><strong>Soup</strong></div>
    <div class="productDetailRow">
    <div class="productDescription">
    <div>Southwest Chili</div>
    <p>&nbsp;$2.09 Each</p>
    </div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l103 l104 l105 l106 l107 l108 l109 l110 l111 l112 l113 l114 l115 l116 l117 l118 l119 l120 l121 l122 l407">
    <div class="productName"><strong>Indian to go</strong></div>
    <div id="pd2080button" class="productActionButton"><span style="font-size: small;">Chicken Curry, Basmati Rice, Lentil</span></div>
    <div class="productDetailRow">
    <div class="productDescription">
    <p>&nbsp;$5.00 Per Person</p>
    </div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    <div class="clear"><strong>Be Well</strong></div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l109 l407">
    <div class="productDetailRow">
    <div class="productDescription">Arctic Char, Mango Sweet Chili Sauce served</div>
    <div class="productDescription">with Braised Bok Choy,</div>
    <div class="productDescription">Sesame Seeds &amp; Steamed Brown Rice
    <p>&nbsp;$5.00 Per Person</p>
    </div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <h2 class="catHeader subCatHeader">Wednesday</h2>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l110 l407">
    <div class="productName"><strong>Salad&nbsp;</strong></div>
    <div class="productDetailRow">
    <div class="productDescription">Chicken Caesar Salad
    <p>&nbsp;$5.00 Each</p>
    </div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l105 l110 l115 l120 l407">
    <div class="productName"><strong>Be Well</strong></div>
    <div class="productDetailRow">
    <div class="productDescription">Chicken and Artichokes with</div>
    <div class="productDescription">Penne served</div>
    <div class="productDescription">Steamed Fresh Zucchini<br />&nbsp;</div>
    <div class="productPrice">
    <div class="price">$5.00 Per Person</div>
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l103 l104 l105 l106 l107 l108 l109 l110 l111 l112 l113 l114 l115 l116 l117 l118 l119 l120 l121 l122 l407">
    <div class="productName"><strong>Indian to go</strong></div>
    <div class="productDetailRow">
    <div class="productDescription"><span style="font-size: small;">Chicken Curry, Basmati Rice, Lentil</span>
    <p>&nbsp;$5.00 Per Person</p>
    </div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <h2 class="catHeader subCatHeader">Thursday</h2>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l111 l407">
    <div class="productName"><strong>Be Well</strong></div>
    <div class="productDetailRow">
    <div class="productDescription">Stir Fry Vegetables served with Brown Rice
    <p>&nbsp;$5.00 Per Person</p>
    </div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l103 l104 l105 l106 l107 l108 l109 l110 l111 l112 l113 l114 l115 l116 l117 l118 l119 l120 l121 l122 l407">
    <div class="productName"><strong>Indian to go</strong></div>
    <div class="productDetailRow">
    <div class="productDescription"><span style="font-size: small;">Chicken Curry, Basmati Rice, Lentil</span>
    <p>&nbsp;$5.00 Per Person</p>
    </div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <h2 class="catHeader subCatHeader">Friday</h2>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l107 l112 l117 l407">
    <div class="productName"><strong>Soup&nbsp;</strong></div>
    <div class="productDetailRow">
    <div class="productDescription">Closed for Holiday</div>
    <div class="productDescription">&nbsp;</div>
    <div class="productPrice">
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l112 l407">
    <div class="productName"><strong>Salad&nbsp;</strong></div>
    <div class="productDetailRow">
    <div class="productDescription">Closed for Holiday<br />&nbsp;&nbsp;</div>
    </div>
    </div>
    </div>
    <div style="text-align: center;">
    <div class="productWrapper prod l103 l104 l105 l106 l107 l108 l109 l110 l111 l112 l113 l114 l115 l116 l117 l118 l119 l120 l121 l122 l407">
    <div class="productName"><strong>Indian to go</strong></div>
    <div class="productName">Closed for Holiday&nbsp;</div>
    <div class="productDetailRow">
    <div class="productPrice">
    <div class="productPriceUnits">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    </div>
    </div>
    </div>
    </div>
    </html>