
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CapOne Eat</title>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="lp.component.css" rel="stylesheet">
    

    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" id="navBar">
      <div class="container" id="capEatContainer">
          <button type="button" class="btn btn-primary" id="orderHistoryButton">View Order History</button>
          <button type="button" class="btn btn-primary" id="viewMaps">Maps For Buildings</button>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    
    

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="header"><span id="capOneHeader"><strong>Cap</strong></span><span id="oneText"><i>One </i></span><span id="eatText"><strong>EAT</strong></span></h1></h1>
       </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <h4> Click to Expand a Row > Click on a Menu Link > Select Food Items </h4>
      <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                West Creek Commons</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                  <li><img src="/Images/Apple.png" class="img_class"><a href="url">Be Well</a></li>
                  <li><img src="/Images/Rice.png" class="img_class"><a href="url">Indian</a></li>
                  <li><img src="/Images/Sandwich.png" class="img_class"><a href="url">Sandwich</a></li>
                  <li><img src="/Images/BBQ.png" class="img_class"><a href="url">Memphis BBQ</a></li>
                  <li><img src="/Images/Soup.png" class="img_class"><a href="url">Soup</a></li>
                  <li><img src="/Images/Salad.png" class="img_class"><a href="url">Salad</a></li>
                  <li><img src="/Images/Action.png" class="img_class"><a href="url">Action</a></li></div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  West Creek Building 2</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <li><img src="/Images/Apple.png" class="img_class"><a href="url">Be Well</a></li>
                    <li><img src="/Images/International.png" class="img_class"><a href="url">International</a></li>
                    <li><img src="/Images/Pizza.png" class="img_class"><a href="url">Fired Up!</a></li>
                    <li><img src="/Images/Sandwich.png" class="img_class"><a href="url">Sandwich</a></li>
                    <li><img src="/Images/Soup.png" class="img_class"><a href="url">Soup</a></li>
                    <li><img src="/Images/Salad.png" class="img_class"><a href="url">Salad</a></li>
                    <li><img src="/Images/Taco.png" class="img_class"><a href="url">Mexican</a></li>
                    <li><img src="/Images/Burger.png" class="img_class"><a href="url">BYOB</a></li>
                </div>
              </div>
            </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                West Creek Building 4</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                  <li><img src="/Images/Apple.png" class="img_class"><a href="url">Be Well</a></li>
                  <li><img src="/Images/Rice.png" class="img_class"><a href="url">Indian</a></li>
                  <li><img src="/Images/Sandwich.png" class="img_class"><a href="url">Sandwich</a></li>
                  <li><img src="/Images/BBQ.png" class="img_class"><a href="url">Memphis BBQ</a></li>
                  <li><img src="/Images/Soup.png" class="img_class"><a href="url">Soup</a></li>
                  <li><img src="/Images/Salad.png" class="img_class"><a href="url">Salad</a></li>
                  <li><img src="/Images/Action.png" class="img_class"><a href="url">Action</a></li></div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                West Creek Building 6</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">
                  <li><img src="/Images/Apple.png" class="img_class"><a href="url">Be Well</a></li>
                  <li><img src="/Images/Rice.png" class="img_class"><a href="url">Indian</a></li>
                  <li><img src="/Images/Sandwich.png" class="img_class"><a href="url">Sandwich</a></li>
                  <li><img src="/Images/BBQ.png" class="img_class"><a href="url">Memphis BBQ</a></li>
                  <li><img src="/Images/Soup.png" class="img_class"><a href="url">Soup</a></li>
                  <li><img src="/Images/Salad.png" class="img_class"><a href="url">Salad</a></li>
                  <li><img src="/Images/Action.png" class="img_class"><a href="url">Action</a></li></div>
              </div>
            </div>
            
         
            
            
          </div>
           
          
        </div>
    
      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
