<div *ngIf="this.newuser === 'newuser' ">
        <div class="container-fluid">
                <h3 class="display-3" id="thanksHeader" style="margin-left: 450px;"><font color="black">You have no order history</font></h3></div>
</div>
<div class='panel panel-primary' *ngIf="this.newuser !== 'newuser' ">
    <div class='panel-heading'>
        <div class="container-fluid">
           <br>
           <br>
           <br>
           <br> 
            <div class="col-md-11">
                <h4> Order History Details </h4>
            </div>
            <div class="col-md-1">
                <button title="Checkout all cart items" [routerLink]="['/addCart/history']" class="draggable btn btn-primary btn-circle btn-xl"
                    role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart">
                  </span></button>
                <span class="cart-items-count">
             <span class=" notification-counter">{{history.getTotalCartItems()}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class='panel-body'>



        <div class='table-responsive'>
            <table class='table' *ngIf='orderHistory?.length'>
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Order Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let order of orderHistory'>
                        <td>{{order.orderId}}</td>
                        <td>
                            <h4>{{ order.itemName }}</h4>
                            <p>{{ order.itemDesc }}</td>
                        <td>{{ order.itemPrice | currency:'USD':true:'1.2-2'}}</td>
                        <td>{{order.orderDate}}
                            <td><button type="button" class="btn btn-info btn-primary" (click)="addItemToCart(order)">Add To Cart</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>