.body {
    background-color: #7395AE;
    margin: 0;
    padding: 0;
    width: 100%;
    
}

.container-fluid {
    height: 800px;
}

#dropdownContent {
    width: 500px;
    height: 130px;
    background-color: lightgray;
}


#dropdownBasic1 {
    display:inline-block;
    margin-left: 485px;      
    position: relative;
    width: 500px;
    height: 40px;
    background-color: #557A95;
    font-size: 20px;
    color: white;
    
  

}

#capOneImage {
    max-width: 100%;
    height: auto;
    height: 400px;
    display: block;
    margin: auto;
   
   
   

}

#mapHeader {
    text-align: center;
    color: white;
}

#mapDescription {
    text-align: center;
    color: white;
}

