<html>
        
        <head>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        
        <body style="background-color: #7395AE">
                <div class="container-fluid">
                        <div class="main-menu-pages">
                                <br>
                                <h1 id="mapHeader">Need Help Finding a Cafeteria?</h1>
                                <br>                                
                                <h4 id="mapDescription">Please select a cafeteria from the dropdown list below:</h4>
                                <br>
                                <br>
                                <img class="img" id="capOneImage" src='././assets/images/westcreek.png'>
                                <br>
                        </div>
        
                        <li ngbDropdown class="d-inline-block">
                                <a class="nav-link" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
                                        Select A Cafeteria
                                </a>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="dropdownContent">
                                        <li role="menuitem">
                                                <a target="_blank" href="https://www.google.com/maps/place/West+Creek+Commons/@37.6287012,-77.6746112,17z/data=!3m1!4b1!4m5!3m4!1s0x89b1699e58f5c281:0x5fe9d21f6690c509!8m2!3d37.6287012!4d-77.6724225">West Creek Commons</a>
                                        </li>
                                        <li role="menuitem">
                                                <a target="_blank" href="https://www.google.com/maps/place/West+Creek+4/@37.630223,-77.6743893,17z/data=!3m1!4b1!4m5!3m4!1s0x89b1699ebfe91ce3:0x4d1f2930eb5b0fae!8m2!3d37.6302188!4d-77.6721952">Market 34</a>
                                        </li>
                                        <li role="menuitem">
                                                <a target="_blank" href="https://www.google.com/maps/place/Capital+One+EATS/@37.6300786,-77.6771679,17z/data=!3m1!4b1!4m5!3m4!1s0x89b1699f136ca185:0xf378bbee5d07c9b8!8m2!3d37.6300744!4d-77.6749738">Eats</a>
                                        </li>
                                        <li role="menuitem">
                                                <a target="_blank" href="https://www.google.com/maps/place/Cafe+56/@37.628944,-77.6730167,17z/data=!3m1!4b1!4m5!3m4!1s0x89b1699e81da683b:0x514e4107225a68d1!8m2!3d37.6289398!4d-77.6708226">Cafe 56</a>
                                        </li>
                                </div>
                        </li>
        
                </div>
                <br>
                <br>
                <br>
                <br>
        </body>
        
        </html>