.body {
    background-color: #7395AE;
    margin: 0;
    padding: 0;
    width: 100%;
}

#dropdownContent {
    width: 500px;
    height: 130px;
    background-color: #ADD8E6;
}


#dropdownBasic1 {
    display:inline-block;
    margin-left: 485px;      
    position: relative;
    width: 500px;
    height: 40px;
    background-color: #557A95;
    font-size: 20px;
    
  

}

#capOneImage {
    
    width: 700px;
    height: 400px;
    display: block;
    margin: 0 auto;
   
   

}

#mapHeader {
    text-align: center;
    color: #3b5466;
}

#mapDescription {
    text-align: center;
    color: #3b5466;
}

