<div class='panel panel-primary'>
        <div class='panel-heading'>
           <h4> {{pageTitle}} </h4>
        </div>
        <div class='panel-body'>
                <div class="main-menu-pages"></div>
            <div class='row'>
                <div class='col-md-2'>
                    <h4>Filter by:</h4>
                </div>
                <div class='col-md-4'>
                    <input type='text' [(ngModel)]='listFilter' />
                </div>
                <div *ngIf="menuService.cartItems.length>0" class="col-md-offset-4 col-md-2">
             <div class="cart-box" id="Normal">
            <ul class="nav navbar-nav">
            <li class="dropdown">
                    <button title="Checkout all cart items" [routerLink]="['/addCart/menu']" class="draggable btn btn-primary btn-circle btn-xl" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span></button>
               <span  class="cart-items-count"><span class=" notification-counter">{{menuService.getTotalCartItems()}}</span></span>
            </li></ul></div>
                </div>
            </div>
             <div class='table-responsive'>
                <table class='table'
                        *ngIf='products && products.length'>
                    <thead>
                        <tr>
                            <th>
                                <button class='btn btn-info btn-primary'
                                    (click)='toggleImage()'>
                                    {{showImage ? 'Hide' : 'Show'}} Image
                                </button>
                            </th>
                            <th>Item</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let product of filteredProducts'>
                            <td>
                                <img class="image" *ngIf='showImage'
                                    [src]='product.imageUrl'
                                    [title]='product.productName'
                                    [style.width.px]='imageWidth'
                                    [style.margin.px]='imageMargin'>
                            </td>
                            <td><h4>{{ product.productName }}</h4>
                            <p>{{ product.description }}</td>
                            <td>{{ product.price | currency:'USD':true:'1.2-2'}}</td>
                            <td><button type="button" class="btn btn-info btn-primary" (click)="addItemToCart(product)">Add To Cart</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf='errorMessage' class='alert alert-danger'>
        Error: {{ errorMessage }}
    </div>