<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color: #7395AE">
      <div class="container-fluid">
  <h1 class="chefHeader">Do Good Have Good</h1>
  
  <h4 class="subheader">Our website support few Charity organization. </h4>
  
  <br>
  
  <a href="https://feedmore.org/">
      <img src="././assets/images/feedmore.jpg" id="FeedMore" class="image">
      </a>

      
  <br>
  <br>
  </div>
  
  </body>
  </html>

