
.chefHeader {
    text-align: center;
    color: white;
 
   
}

.subheader {
    text-align: center;
    color: white;
   
}


.body {
    background-color: #7395AE;
}

.image {
    margin: auto;
    display: block;
    width: 400px;
    max-width: 100%;
    height: auto;
}

.container-fluid {
    width: 750px;
    height: 700px;
   

 }

 .image:hover {
    opacity: 0.3;
 }

 .pic{
    height: 300px;
    width: 350px;
    margin-left: 540px;
    margin-top: 50px;
 }


.btn btn-primary btn-sm {
    text-align: center;
}
 .container {
     text-align: center;
     margin-top: 50px;
     
 }

 .btn {
     width: 180px;
     height: 50px;
     margin: 0 auto;
     padding: 0;
     display: inline-block;
     line-height: 50px;
     text-align: center;
     font-size: 13px;
     margin-left: 131px;
 }

 .separator {
    display:block;
    border:none;
    color: #557A95;
    height:1px;
    background: #3b5466;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#3b5466), to(#557A95));
    
     
 }