#text-blue{
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}

.navbar {
    background-color: #7395AE;
    margin: 0px;
    
}

.image {
    width: 150px;
    height: 100px;
}

.form-control {
    margin: 0px;
}

