#text-blue{
    color: white;
    text-align: center;
    text-decoration: none;
   display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-size: 18px;
   
   
}

.navbar {
    background-color: #557A95;
    margin: 0px;
    height: 75px!important;
    position: fixed;
    z-index: 10;
    margin-bottom: 75px;
}

.image {
    height: 25px;
}

.form-control {
    margin: 0px;
}

.navbar {
    width:100%;
   

}


a:hover {
    text-decoration: underline !important; 
   
  }

 .header-image{
    margin: 0px 15px;
  }