
.body {
    background-color: #7395AE;
    
}
  .container-fluid {
    background-color: #7395AE;
    margin-top: 0px;
    height: 800px;
 
}
.calendar {
    margin-left: 20%;
}
.calendarHeader {
    text-align: center;
    color: white;
}

.calendarSubheader {
    text-align: center;
    color: white;
}
