.navbar  {
 
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  bottom: 0pt;
  left: 0pt;
  background-color: #3b5466;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  height: 160px;
  
 


}

.footer {
  background-color: #3b5466;
  margin: 0px;
  padding: 0px;
  position: absolute;
  height: 25px;
  width: 100%;
  
  
  
}

.color {
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
}

.angularEaterLink {
  color: #00aced;
}

.color2 {
    background-color: #5D5C61; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
}


.fa {
    padding: 18px;
    font-size: 16px;
    width: 50px;
    text-align: center;
    margin: 8px 2px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .footer {
    grid-row-start: 2;
    grid-row-end: 3;
   
  }
  
  .us{
    color: white;
    border: none;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }

  .contactUs {
    color: #00aced;
  }
  
  .page-footer-container{
    position: inherit;
    bottom: 0;
  } 