
<nav class="navbar page-footer-container">

  <!--Footer-->
  <footer class="page-footer mdb-color">

    <!--Social buttons-->
    <div class="text-center mb-6">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="https://www.facebook.com/capitalone" class="fa fa-facebook" target="_blank" rel="noopener noreferrer" title="Link opens in a new window"></a>
      <a href="https://twitter.com/capitalone" class="fa fa-twitter" target="_blank" rel="noopener noreferrer" title="Link opens in a new window"></a>
      <a href="https://www.linkedin.com/company/capital-one" class="fa fa-linkedin" target="_blank" rel="noopener noreferrer" title="Link opens in a new window"></a>
      <a href="https://www.youtube.com/user/CapitalOne" class="fa fa-youtube" target="_blank" rel="noopener noreferrer" title="Link opens in a new window"></a>
      <a href="https://www.instagram.com/capitalone/" class="fa fa-instagram" target="_blank" rel="noopener noreferrer" title="Link opens in a new window"></a>
    </div>

    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
       
        <h6 align="center" class="us">
            Having Trouble?
            <a href="mailto:angulareater@capone.com" class="contactUs">Click Here To Contact Us.</a>
        </h6>

        <h6 align="center" class="color">Copyright © 2017. All Rights Reserved. Powered by
            <a href="aboutangulareaters.html" class="angularEaterLink" target="_blank">AngularEaters.</a>
          </h6>
      </div>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- <div class="ft-bg"></div>
<button routerLink="/addcart">addcart</button>
</div> -->

</nav>