<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">

<head>
	<title>capEAT landing page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #7395AE">
	
		
		
		
<br>
<br>


	<ngb-carousel class="carousel">
		<ng-template ngbSlide>
			<img class="img-responsive center-block" src='././assets/images/eatscafepic.png' alt="Random first slide" width=100%>
			<div class="carousel-caption">
				
			</div>
		</ng-template>
		<ng-template ngbSlide>
				<img class="img-responsive center-block" src='././assets/images/soeasy.png' alt="Random second slide" width="100%">
				<div class="carousel-caption">
					
	
				</div>
			</ng-template>
		<ng-template ngbSlide>
			<img class="img-responsive center-block" src='././assets/images/pizzasphoto.png' alt="Random second slide" width="100%">
			<div class="carousel-caption">
				

			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img class="img-responsive center-block" src='././assets/images/indian_spice.png' alt="Random second slide" width="100%">
			<div class="carousel-caption">
				

			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img class="img-responsive center-block" src='././assets/images/salad-photo2.png' alt="Random second slide" width="100%">
			<div class="carousel-caption">
				

			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img class="img-responsive center-block" src='././assets/images/meetings.png' alt="Random third slide" width="100%">
			<div class="carousel-caption">
				<div>
					

					<br>
					<br>

				</div>
				
			</div>
		</ng-template>

		
	</ngb-carousel>
	<br>
	<div class="container">
		

		<ngb-accordion  [closeOthers]="true" activeIds="static-1" is-open="false">
			<ngb-panel  id="toggle-1">
				<ng-template ngbPanelTitle>
					<span>
						<b>West Creek Commons (The Commons & West Creek 8)</b>
					</span>
				</ng-template>
				<ng-template ngbPanelContent>
					<ul>

						<li>
							<img src="././assets/images/Apple.png" class="img_class" />
							<a [routerLink]="['/bewell']">Be Well</a>
						</li>

						<li>
							<img src="././assets/images/rice.png" class="img_class" />
							<a [routerLink]="['/menu']"> Indian </a>
						</li>
						<li>
							<img src="././assets/images/Sandwich.png" class="img_class" />
							<a href="url">Sandwich</a>
						</li>
						<li>
							<img src="././assets/images/Action.png" class="img_class" />
							<a href="url">Action</a>
						</li>

						<li>
							<img src="././assets/images/Soup.png" class="img_class" />
							<a href="url">Soup</a>
						</li>
						<li>
							<img src="././assets/images/Salad.png" class="img_class" />
							<a href="url">Salad</a>
						</li>
					</ul>
				</ng-template>
			</ngb-panel>
			<ngb-panel id="static-2">
				<ng-template ngbPanelTitle>
					<span>
						<b>EATS (West Creek 1 & West Creek 2)</b>
					</span>
				</ng-template>
				<ng-template ngbPanelContent>
					<ul>

						<li>
							<img src="././assets/images/Apple.png" class="img_class" />
							<a [routerLink]="['/bewell']">Be Well</a>
						</li>

						<li>
							<img src="././assets/images/Burger.png" class="img_class" />
							<a href="url">Build Your Own Burger</a>
						</li>
						<li>
							<img src="././assets/images/Sandwich.png" class="img_class" />
							<a href="url">Sandwich</a>
						</li>
						<li>
							<img src="././assets/images/Taco.png" class="img_class" />
							<a href="url">Mexican</a>
						</li>

						<li>
							<img src="././assets/images/Soup.png" class="img_class" />
							<a href="url">Soup</a>
						</li>
						<li>
							<img src="././assets/images/Salad.png" class="img_class" />
							<a href="url">Salad</a>
						</li>
					</ul>
				</ng-template>
			</ngb-panel>
			<ngb-panel id="static-3">
				<ng-template ngbPanelTitle>
					<span>
						<b>The Village (West Creek 3 & West Creek 4)</b>
					</span>
				</ng-template>
				<ng-template ngbPanelContent>
					<ul>

						<li>
							<img src="././assets/images/Apple.png" class="img_class" />
							<a [routerLink]="['/bewell']">Be Well</a>
						</li>

						<li>
							<img src="././assets/images/rice.png" class="img_class" />
							<a [routerLink]="['/menu']"> Indian </a>
						</li>
						<li>
							<img src="././assets/images/Pizza.png" class="img_class" />
							<a href="url">Pizza</a>
						</li>

						<li>
							<img src="././assets/images/Soup.png" class="img_class" />
							<a href="url">Soup</a>
						</li>
						<li>
							<img src="././assets/images/Salad.png" class="img_class" />
							<a href="url">Salad</a>
						</li>
					</ul>
				</ng-template>

			</ngb-panel>
			<ngb-panel id="static-4">

				<ng-template ngbPanelTitle>
					<span>
						<b>Cafe 56 (West Creek 5 & West Creek 6)</b>
					</span>
				</ng-template>
				<ng-template ngbPanelContent>
					<ul>
						<li>
							<img src="././assets/images/Apple.png" class="img_class" />
							<a [routerLink]="['/bewell']">Be Well</a>
						</li>

						<li>
							<img src="././assets/images/rice.png" class="img_class" />
							<a [routerLink]="['/menu']"> Indian </a>
						</li>
						<li>
							<img src="././assets/images/Sandwich.png" class="img_class" />
							<a href="url">Sandwich</a>
						</li>
						<li>
							<img src="././assets/images/Action.png" class="img_class" />
							<a href="url">Action</a>
						</li>

						<li>
							<img src="././assets/images/Soup.png" class="img_class" />
							<a href="url">Soup</a>
						</li>
						<li>
							<img src="././assets/images/Salad.png" class="img_class" />
							<a href="url">Salad</a>
						</li>
					</ul>
				</ng-template>
			</ngb-panel>
		</ngb-accordion>
		

		


	</div>
	<br>
	<div>
		<app-dialog [(visible)]="showDialog" without-backdrop>

				<form #f="ngForm">
				<div class="input">
					<h2> Sign in </h2>
					<div *ngIf="userstatus==='Fail'"><span style="color:red;">Authentication Failed!! Please try again</span> </div>
					<hr>
					<label>Username</label>
					<input type="text" class="form-control" placeholder="abc123" [(ngModel)]="eid" id="eid" name="eid" required>
				
				</div>

				<div class="input">
					<label>Password</label>
					<input type="password" class="form-control" [(ngModel)]="password" name="password" required>
					
				</div>
				<br>
				<div class="form-group">
				<input type="submit" (click)='verifyUser()' [disabled]="!f.valid" class="btn btn-info btn-block">
			
				
			</div>
			</form>

		</app-dialog>
	</div>
	
		

</body>

</html>