.adj{
    margin-top: 10px;
    margin-left: 150px;
}

.jumbotron {
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #7395AE;
    margin-bottom: 100px;
 
 }
 
 .med_font {
    background-color: #7395AE ;
    
 }