<body>
<div class="container-fluid">
    <div class="main-menu-pages"></div>
    <br>
    
  <h1 class="display-3" id="thanksHeader" style="margin-left: 50px;"><font color="white">Thank You for doing the business with us!!!</font></h1>
  
  <h3 class="display-3" id="thanksHeader" style="font-size:25px;">Your order is confirmed and here is your order Id {{this.orderid}}.</h3>
  <!-- <h4 class="subheader" id="emailHeader">Please check your email for further instructions.</h4> -->
      <h4 class="display-3" id="thanksHeader" style="margin-left: 70px;font-size:20px;"><font color="white"> "A healthy outside starts from the inside." -Robert Urich</font></h4>
 
  <div class="container">

      <span class="separator"></span>

      <h4 class="subheader" id="emailHeader">Not a CapitalOne creditcard holder? Apply for a credit card now to reveal a special deal!</h4>
      <br>

    <a class="btn btn-info btn-sm" href="https://findmycard.capitalone.com/en/PageVersions/LandingPages/LP_ONE_V01.aspx" role="button">See If You're Pre-Qualified</a>
    <button (click)="showDialog = !showDialog" class="btn btn-info btn-sm">Apply for Capitalone Card</button>
    <a class="btn btn-info btn-sm" href="https://www.capitalone.com/credit-cards/compare/" role="button">Compare Credit Cards</a>


    <div align="center" style="border:1px">

        <!-- <h1>
          <font color="Blue">Congratulation</font>
        </h1>
        <h4>
          <font color="red">This meal on us and we will not charge you for it.</font>
        </h4>
        <br>
        <h4>
          <font color="Blue">Please use the below link to apply for CapitalOne Card</font>
        </h4>
        <br>
        <h4>
          <font color="Blue">Change Banking for Good</font>
        </h4>
        <a class="btn btn-primary btn-sm" href="https://findmycard.capitalone.com/en/PageVersions/LandingPages/LP_ONE_V01.aspx?external_id=WWW_WD928_ZZZ_ONL-SE_ZZZGO_T_SEM2_ZZZZ_c_Zg_94d47ec3-4022-4230-8064-ca30c1cd5415_149860674647_35598"
          role="button">Apply Now</a> -->

        <div class="row">
        
      <app-dialog [(visible)]="showDialog">
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
              <div class="icon">
                <div class="image">
                  <i class="fa fa-thumbs-o-up"></i>
                </div>
                <div class="info">
                  <h3 class="title">Congratulation!</h3>
                  <h4>This meal on us and we will revert back your charge.</h4>
                  <p>
                    Please use the below link to apply for CapitalOne Card
                  </p>
                  <div class="btn btn-info btn-sm">
                    <a href="https://findmycard.capitalone.com/en/PageVersions/LandingPages/LP_ONE_V01.aspx?external_id=WWW_WD928_ZZZ_ONL-SE_ZZZGO_T_SEM2_ZZZZ_c_Zg_94d47ec3-4022-4230-8064-ca30c1cd5415_149860674647_35598"
                      title="Title Link">
                      <font color="white"> Apply Now</font>
                      <i class="fa fa-angle-double-right"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="space"></div>
            </div>
          </div>
     



      </app-dialog>
    </div>
  </div>

  </div>


 
 

</div>

</body>