<!DOCTYPE html>
<html>
<head>
  
<style>


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
  <div class="container-fluid">
      <div class="main-menu-pages">
    <h1 class="nutritionHeader">Nutrition Information</h1>
  </div>
  </div>
<table class="menuTable">
  <tr class="tableRow">
    <th class="tableColumn">Menu Item:</th>
    <th>Number of Calories Per Serving:</th>
    <th>Spicy Rating:</th>
  </tr>
  <tr>
    <td>Asian Shrimp & Vegetable Pasta Stir-Fry</td>
    <td>250</td>
    <td><meter class="meter" value="1" min="0" max="10">1 out of 10</meter></td>
  </tr>
  <tr>
    <td>Pasta with fresh vegetables</td>
    <td>150</td>
    <td><meter class="meter" value="1" min="0" max="10">1 out of 10</meter></td>
  </tr>
  <tr>
    <td>Grilled Vegetable Platter with Picnic Vinaigrette</td>
    <td>135</td>
    <td><meter class="meter" value="1" min="0" max="10">1 out of 10</meter></td>
  </tr>
  <tr>
    <td>Soy Ginger Salmon</td>
    <td>260</td>
    <td><meter class="meter" value="1" min="0" max="10">1 out of 10</meter></td>
  </tr>
  <tr>
    <td>Roasted Carrots, Potatoes & Onions</td>
    <td>125</td>
    <td><meter class="meter" value="1" min="0" max="10">1 out of 10</meter></td>
  </tr>
  <tr>
    <td>Chicken Biryani</td>
    <td>500</td>
    <td><meter class="meter" value="7" min="0" max="10">1 out of 10</meter></td>
  </tr>
  <tr>
      <td>Shahi Paneer</td>
      <td>350</td>
      <td><meter class="meter" value="5" min="0" max="10">1 out of 10</meter></td>
    </tr>
    <tr>
        <td>Samosa</td>
        <td>300</td>
        <td><meter class="meter" value="3" min="0" max="10">1 out of 10</meter></td>
      </tr>
      <tr>
          <td>Chicken curry with Rice</td>
          <td>450</td>
          <td><meter class="meter" value="8" min="0" max="10">1 out of 10</meter></td>
        </tr>
        <tr>
            <td>Vegetable fried rice</td>
            <td>375</td>
            <td><meter class="meter" value="6" min="0" max="10">1 out of 10</meter></td>
          </tr>
</table>

</body>
<br>
<br>
</html>