
meter::-webkit-meter-bar {
    background: #FFF;
    border: 1px solid #CCC;
}

meter::-webkit-meter-optimum-value {
    background: red;
    background: -moz-linear-gradient(top, red, 0%, red, 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, red), color-stop(100%, red));
    background: -webkit-linear-gradient(top, red, 0%, red 100%);
    background: -o-linear-gradient(top, red, 0%, red, 100%);
    background: -ms-linear-gradient(top, red, 0%, red, 100%);
    background: linear-gradient(to bottom, red, 0%, red, 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='red',GradientType=0);
}

.menuTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 600px;
}

.tableRow {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tableColumn {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.body {
    background-color: #7395AE;
    margin: 0;
    padding: 0;
    width: 100%;

}

.container-fluid {
    background-color: #7395AE;

}

.nutritionHeader {
    color: white;
    margin-left: 500px;
}


