<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link, color button-color"  href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link, color button-color"  href="#">Spicy level <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link, color button-color"   href="/maps">Map <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link, color button-color"   href="#">Histrory <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link, color button-color"   href="#">About Capeat <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li ngbDropdown  class="d-inline-block">
        <a class="nav-lin" class="nav-link" class="btn btn-primary"  id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Action - 1</button>
          <button class="dropdown-item">Another Action</button>
          <button class="dropdown-item">Something else is here</button>
        </div>
      </li> -->
    
    </ul>
  </div>
</nav>