<html class="main">
<br>
<h1> Welcome to Capital One Cafeteria
    <!-- at West Creek Campus,  -->
    <!-- <br>based in the heart of Richmond. -->
</h1>
<h4>
    We offer a high quality buffet with an oriental twist.
    <br> We offer a vast range of over 40+ dishes on our buffet where you can find tasty oriental food prepared only by our finest,
    highly experienced chefs.
    <br> Are you looking for the ultimate dining experience? Let us spoil you with our cocktails with great flavors while you
    choose from our buffet.
</h4>
<form>
    <div>
        <h2>Breakfast</h2>
        <p>
            <li>Bagel</li>
            <li>Seasonal Fruit Salad</li>
            <li>Seasonal Muffin, Butter and Jam</li>
            <li>Assorted Individual Bottled Juices</li>
            <li>Assorted Flavored and Whipped Cream Cheese, Salted Butter and Jam</li>
        </p>
    </div>
</form>

<form>
    <div>
        <h2>Lunch</h2>
        <p>
            <li>Bagel</li>
            <li>Seasonal Fruit Salad</li>
            <li>Seasonal Muffin, Butter and Jam</li>
            <li>Assorted Individual Bottled Juices</li>
            <li>Assorted Flavored and Whipped Cream Cheese, Salted Butter and Jam</li>
        </p>
    </div>
</form>

<form>
    <div>
        <h2>Dinner</h2>
        <p>
            <li>Bagel</li>
            <li>Seasonal Fruit Salad</li>
            <li>Seasonal Muffin, Butter and Jam</li>
            <li>Assorted Individual Bottled Juices</li>
            <li>Assorted Flavored and Whipped Cream Cheese, Salted Butter and Jam</li>
        </p>
    </div>
</form>
<br>
</html>
