<html class="main">
<h1 class="catHeader" style="text-align: center;">Breakfast</h1>
<h2 class="catHeader subCatHeader">Breakfast Box&nbsp;<br /><span style="font-size: 11pt;">$6.50&nbsp; &nbsp;Per Person</span></h2>
<div class="productWrapper prod l433 l443">
<div class="productName">Bagel Breakfast Box</div>
<div id="pd2182button" class="productActionButton">Select Item</div>
<div class="productDetailRow">
<div class="productDescription">
<ul>
<li>Choice of Bagel</li>
<li>Assorted Flavored and Whipped Cream Cheese, Salted Butter and Jam</li>
<li>Seasonal Fruit Salad</li>
<li>Seasonal Muffin, Butter and Jam</li>
<li>Assorted Individual Bottled Juices</li>
</ul>
</div>
<div class="productPrice">
<div class="price">&nbsp;</div>
<div class="clear">&nbsp;</div>
</div>
</div>
</div>
<div class="productWrapper prod l433 l443">
<div class="productName">Ficelle Breakfast Box</div>
<div id="pd2183button" class="productActionButton">Select Item</div>
<div class="productDetailRow">
<div class="productDescription">
<ul>
<li>Choice of Ficelle</li>
<li>Seasonal Fruit Salad</li>
<li>Seasonal Muffin, Butter and Jam</li>
<li>Assorted Individual Bottled Juices</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
<div class="productWrapper prod l433 l443">&nbsp;</div>
</html>