<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">

<head>
	<title>capEAT landing page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: gray">


	<ngb-carousel>
		<ng-template ngbSlide>
			<img src='././assets/images/c1.jpeg' alt="Random first slide" style="height:800px" width="100%">
			<div class="carousel-caption">
				<h2 id="text-blue">cap
					<I>EATS</I>
				</h2>

				<div>

					<h2>All day meetings , Order n Pick up !!!</h2>

					<br>
				</div>

				<div>

					<h2>

						<font color="white"> When
							<I>FOOD</I> is made EASY ,
							<I>LIFE</I> IS EASY ....</font>

						<br>
						<br>
						<br>
						<br>
						<br>
						<BR>
						<BR>
					</h2>
				</div>

			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img src='././assets/images/c12.jpeg' alt="Random second slide" style="height:800px" width="100%">
			<div class="carousel-caption">
				<div>

					<h2>

						<font color="pink">WCC Specials !!!
						</font>
					</h2>
				</div>

				<div>
					<h2>
						<font color="lightgreen">Order & Enjoy!!!</font>
					</h2>
				</div>

			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img src='././assets/images/c13.jpeg' alt="Random third slide" style="height:800px" width="100%">
			<div class="carousel-caption">
				<div>
					<h2>
						<font color="Red"> WC2 Specials </font>
					</h2>

					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
				<div>
					<h2>
						<font color="lightgreen">Soothing Smoothies ...</font>
					</h2>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>

				</div>
			</div>
		</ng-template>
	</ngb-carousel>
	<div class="container">
		<h2>Expand to order</h2>

		<ngb-accordion [closeOthers]="true" activeIds="static-1" is-open="false">
			<ngb-panel id="static-1">
				<ng-template ngbPanelTitle>
					<span>
						<b>West Creek Commons (The Commons & West Creek 8)</b>
					</span>
				</ng-template>
				<ng-template ngbPanelContent>
					<ul>

						<li>
							<img src="././assets/images/Apple.png" class="img_class" />
							<a href="url">Be Well</a>
						</li>

						<li>
							<img src="././assets/images/rice.png" class="img_class" />
							<a href="url">Indian</a>
						</li>
						<li>
							<img src="././assets/images/Sandwich.png" class="img_class" />
							<a href="url">Sandwich</a>
						</li>
						<li>
							<img src="././assets/images/Action.png" class="img_class" />
							<a href="url">Action</a>
						</li>

						<li>
							<img src="././assets/images/Soup.png" class="img_class" />
							<a href="url">Soup</a>
						</li>
						<li>
							<img src="././assets/images/Salad.png" class="img_class" />
							<a href="url">Salad</a>
						</li>
					</ul>
				</ng-template>
			</ngb-panel>
			<ngb-panel id="static-2">
				<ng-template ngbPanelTitle>
					<span>
						<b>EATS (West Creek 1 & West Creek 2)</b>
					</span>
				</ng-template>
				<ng-template ngbPanelContent>
					<ul>

						<li>
							<img src="././assets/images/Apple.png" class="img_class" />
							<a href="url">Be Well</a>
						</li>

						<li>
							<img src="././assets/images/Burger.png" class="img_class" />
							<a href="url">Build Your Own Burger</a>
						</li>
						<li>
							<img src="././assets/images/Sandwich.png" class="img_class" />
							<a href="url">Sandwich</a>
						</li>
						<li>
							<img src="././assets/images/Taco.png" class="img_class" />
							<a href="url">Mexican</a>
						</li>

						<li>
							<img src="././assets/images/Soup.png" class="img_class" />
							<a href="url">Soup</a>
						</li>
						<li>
							<img src="././assets/images/Salad.png" class="img_class" />
							<a href="url">Salad</a>
						</li>
					</ul>
				</ng-template>
			</ngb-panel>
			<ngb-panel id="static-3">
				<ng-template ngbPanelTitle>
					<span>
						<b>The Village (West Creek 3 & West Creek 4)</b>
					</span>
				</ng-template>
				<ng-template ngbPanelContent>
					<ul>

						<li>
							<img src="././assets/images/Apple.png" class="img_class" />
							<a href="url">Be Well</a>
						</li>

						<li>
							<img src="././assets/images/rice.png" class="img_class" />
							<a href="url">Indian</a>
						</li>
						<li>
							<img src="././assets/images/Pizza.png" class="img_class" />
							<a href="url">Pizza</a>
						</li>

						<li>
							<img src="././assets/images/Soup.png" class="img_class" />
							<a href="url">Soup</a>
						</li>
						<li>
							<img src="././assets/images/Salad.png" class="img_class" />
							<a href="url">Salad</a>
						</li>
					</ul>
				</ng-template>

			</ngb-panel>
			<ngb-panel id="static-4">
				<ng-template ngbPanelTitle>
					<span>
						<b>Cafe 56 (West Creek 5 & West Creek 6)</b>
					</span>
				</ng-template>
				<ng-template ngbPanelContent>
					<ul>

						<li>
							<img src="././assets/images/Apple.png" class="img_class" />
							<a href="url">Be Well</a>
						</li>

						<li>
							<img src="././assets/images/rice.png" class="img_class" />
							<a href="url">Indian</a>
						</li>
						<li>
							<img src="././assets/images/Sandwich.png" class="img_class" />
							<a href="url">Sandwich</a>
						</li>
						<li>
							<img src="././assets/images/Action.png" class="img_class" />
							<a href="url">Action</a>
						</li>

						<li>
							<img src="././assets/images/Soup.png" class="img_class" />
							<a href="url">Soup</a>
						</li>
						<li>
							<img src="././assets/images/Salad.png" class="img_class" />
							<a href="url">Salad</a>
						</li>
					</ul>
				</ng-template>
			</ngb-panel>
		</ngb-accordion>
		</div>
		<br>
		
</body>

</html>